.title{
font-family: 'Akaya Kanadaka', cursive;
font-size: 5rem;
}
.logbox{
    height: 80vh;
}
#textoBienvenida{
    color: rgba(53, 53, 53, 0.884);
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 2rem;
}
#login{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #6E7576;
    font-size: 2rem;
    height: 15%;
    border:none;
    outline:none;
    background: transparent;
    transition:.3s;
    border-radius: 60%;
  }
  #login:focus{
     box-shadow:0 0 2rem 0 dodgerBlue;
  }

