.title{
font-family: 'Akaya Kanadaka', cursive;
font-size: 5rem;
}
.logbox{
    height: 80vh;
}
#textoBienvenida{
    color: rgba(53, 53, 53, 0.884);
    font-family: 'Akaya Kanadaka', cursive;
    font-size: 2rem;
}
#login{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #6E7576;
    font-size: 2rem;
    height: 15%;
    border:none;
    outline:none;
    background: transparent;
    transition:.3s;
    border-radius: 60%;
    animation: animacion 2s linear infinite;
    background: #B4F3F5;
  }
  @keyframes animacion {
      0%{
        box-shadow: 0 0 0 0 #46edf3ab, 0 0 0 0 #31ebf1c7;
      }

      60%{
        box-shadow: 0 0 0 20px #B4F3F5, 0 0 0 0;
      }
  }
